In [177]:
# Import the libraries
import pandas as pd
import os

In [178]:
# Get the current working directory and change if needed
path=os.getcwd()
os.chdir("C:\\Users\\vpachiriyan\\Documents\\Python")
print(path)

C:\Users\vpachiriyan\Documents\Python

In [179]:
# Read ethe trial data (Excel) into a dataframe
df=pd.read_excel("Trial data.xlsx")

# Print the head of the dataframe
df.head()

,client_id,product_id,country,trial_start_datetime,channels,setup,sale,click_source,source_paid_or_non_paid
0,48043,1,Spain,2020-01-02 19:46:19,1,1,0,Google - Organic,Non Paid
1,48084,12,Ireland,2020-01-04 20:43:21,[NULL],0,0,Google - Organic,Non Paid
2,48103,1,United States,2020-01-05 20:31:45,1,1,0,Google - Organic,Non Paid
3,48122,1,France,2020-01-06 15:12:56,[NULL],0,0,Unknown,Paid
4,48130,1,United States,2020-01-06 19:51:13,[NULL],0,0,Google - Organic,Non Paid

In [170]:
#Print the information about the dataframe including the index dtype and columns, non-null values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15713 entries, 0 to 15712
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   client_id                15713 non-null  int64
 1   product_id               15713 non-null  int64
 2   country                  15713 non-null  object
 3   trial_start_datetime     15713 non-null  datetime64[ns]
 4   channels                 15713 non-null  object
 5   setup                    15713 non-null  int64
 6   sale                     15713 non-null  int64
 7   click_source             15713 non-null  object
 8   source_paid_or_non_paid  15713 non-null  object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 1.1+ MB

In [180]:
# Check the unique values in channels before replacing the nulls

df.channels.unique()

array([1, '[NULL]', 2, 13, 8, 5, 9, 14, 6, 3, 4, 10, 20, 22, 7, 21, 32,
       16, 12, 18, 11, 0, 23, 30, 352, 47, 24, 19, 31, 17, 27, 15, 25,
       1334, 26, 51, 72, 39, 75, 46, 41, 40, 56, 28, 35, 153, 59, 29, 53,
       34], dtype=object)

In [181]:
# Replace the nulls in the "Channels" column with 0. In the data, nulls are appearing as as string "[NULL]". 
# Hence use replace function instead of fillna()


df["channels"].replace("[NULL]", 0,inplace=True)

In [182]:
# Check the unique values in channels following the change 

df.channels.unique()

array([   1,    0,    2,   13,    8,    5,    9,   14,    6,    3,    4,
         10,   20,   22,    7,   21,   32,   16,   12,   18,   11,   23,
         30,  352,   47,   24,   19,   31,   17,   27,   15,   25, 1334,
         26,   51,   72,   39,   75,   46,   41,   40,   56,   28,   35,
        153,   59,   29,   53,   34], dtype=int64)

In [183]:
# Check the change in the datatype of channels column following the replacement of nulls
df.dtypes

client_id                           int64
product_id                          int64
country                            object
trial_start_datetime       datetime64[ns]
channels                            int64
setup                               int64
sale                                int64
click_source                       object
source_paid_or_non_paid            object
dtype: object

In [184]:
#Create a column "active_trial" and categrorize as "active" if a client has atleast 1 channel and "inactive" "if not

df['active_trial'] = 'Active'
df.loc[df['channels'] < 1, 'active_trial'] = 'Inactive'

In [185]:
# Preview the change by printing the head()
df.head()

,client_id,product_id,country,trial_start_datetime,channels,setup,sale,click_source,source_paid_or_non_paid,active_trial
0,48043,1,Spain,2020-01-02 19:46:19,1,1,0,Google - Organic,Non Paid,Active
1,48084,12,Ireland,2020-01-04 20:43:21,0,0,0,Google - Organic,Non Paid,Inactive
2,48103,1,United States,2020-01-05 20:31:45,1,1,0,Google - Organic,Non Paid,Active
3,48122,1,France,2020-01-06 15:12:56,0,0,0,Unknown,Paid,Inactive
4,48130,1,United States,2020-01-06 19:51:13,0,0,0,Google - Organic,Non Paid,Inactive

In [186]:
# Create a column "Region" which categorises the countries into diffrent regions

# Define the categories in a dictionary
region_dict = {
   'United States':'North America',
    'Canada':'North America',
    'Mexico':'North America',
    'Ireland':'UK/Ireland',
    'United Kingdom':'UK/Ireland',
    'France' :'EU Main',
    'Germany' :'EU Main',
    'Italy' :'EU Main',
    'Spain' :'EU Main',   
}
    
    
 # Create a column "Region" by mapping the dictionary  and filling the NaN with "ROW"   
df['Region'] = df['country'].map(region_dict).fillna('ROW')

In [187]:
# Preview the change by printing the head()
df.head()

,client_id,product_id,country,trial_start_datetime,channels,setup,sale,click_source,source_paid_or_non_paid,active_trial,Region
0,48043,1,Spain,2020-01-02 19:46:19,1,1,0,Google - Organic,Non Paid,Active,EU Main
1,48084,12,Ireland,2020-01-04 20:43:21,0,0,0,Google - Organic,Non Paid,Inactive,UK/Ireland
2,48103,1,United States,2020-01-05 20:31:45,1,1,0,Google - Organic,Non Paid,Active,North America
3,48122,1,France,2020-01-06 15:12:56,0,0,0,Unknown,Paid,Inactive,EU Main
4,48130,1,United States,2020-01-06 19:51:13,0,0,0,Google - Organic,Non Paid,Inactive,North America

In [ ]:
# Export the results to an Excel
df.to_excel("trial_data_python_output.xlsx",index=False)